.idk{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
body {
   font-family: Arial, sans-serif;
}
.footer{
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}